<!DOCTYPE html>
<html lang="en">
<head>
	<title>Twilight Burger</title>
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link href="css/landing.css" rel="stylesheet" />
	<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
	<!-- video background -->
	<video class="video" autoplay="autoplay" controls loop muted="" width="300" height="150">
	  <source src="assets/vid/forest.mp4" type="video/mp4"/>
	</video>
	<!-- audio-zelda chime -->
	<audio id="landingAudio">
		<source src="assets/sfx/loz_slow.mp3" type="audio/mp3"/>
		<source src="assets/sfx/loz_slow.m4a" type="audio/m4a"/>
		<source src="assets/sfx/loz_slow.wav" type="audio/wav"/>
		<source src="assets/sfx/loz_slow.ogg" type="audio/ogg"/>
	</audio>

	<div class="homepage">
		<div class="homepage-content">
			<div class="content">
				<h1 class="title">The Legend of Ronald: Twilight Burger</h1>
				<a class="cta" href='/game'>START</a>
				<a class="cta" href="/comments">Comments</a>
				<a class="cta" href="https://github.com/codemarq/burgerFight">Github</a>
			</div>

		</div>
	</div>

</body>
</html>
<script>
	// play audio and fade in title
	$(document).ready(function () {
			$("#landingAudio").get(0).play();
	    $(".cta, .title").fadeIn(6000, function (){});
	});
</script>
