body, html{
	background-color: black;
	height: 100%;
}
#game {
	/*background-image: url('../img/top-view-roundabout-vector.jpg');*/
	margin: 0 auto;
	float: left;
}

h1 {
	word-wrap: break-word;
	margin-bottom: 50px;
	text-align: center;
}

.ammoContainer {
	margin-bottom: 30px;
}

.bigBurger {
	display: none;
}

#app {
	float: left;
}
.heartContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.healthHeart {
	width: 25%;
	height: 25%;
	margin-left: 5px;
	margin-right: 5px;
}

.playercard {
	font-family: "Press Start 2P";
	height: 100%;
	background-color: #000000 !important;
	color: #ffffff !important;
	display: inline-block;
	text-align: center;
}

#king {
	float: right;
}
